<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608474904239-uo01oepapg9une28psrmoecodjm53p69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608474904239-uo01oepapg9une28psrmoecodjm53p69</string>
	<key>API_KEY</key>
	<string>AIzaSyBo3cRPaOyOSkWerLRalKRGLvAhfqGIszo</string>
	<key>GCM_SENDER_ID</key>
	<string>608474904239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prdppdl.BookedIn</string>
	<key>PROJECT_ID</key>
	<string>bookedin-9f1a0</string>
	<key>STORAGE_BUCKET</key>
	<string>bookedin-9f1a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608474904239:ios:e36c504bd0c1791fd3465a</string>
</dict>
</plist>